## --- .NET Core / build ---
bin/
obj/
*.user
*.suo
*.userprefs

## --- Visual Studio ---
.vs/
.vscode/

## --- JetBrains Rider ---
.idea/
*.sln.iml

## --- SQLite Database ---
*.db
*.db-shm
*.db-wal
data/*.db

## --- OS / System ---
.DS_Store
Thumbs.db

## --- Logs ---
*.log

## --- Publsh ---
publish/

## --- Secrets ---
# appsettings.json leave
appsettings.Development.json
appsettings.Local.json

*.tar